<center>
<div class= "center jumbotron" style="width:100%">
    <h3>About <br/>
        <b>King William Hotel</b></h3>
  </div>  

 
   <div class="row">
       
   <div class="col-sm-6">
    <h2>History</h2>
       
   <h4 style="width:70%">King William Hotel was created for guests who want luxary and comfort with a historic feel. King William hotel was first established in 2003 and continued to satisfy guests needs with amazing features and it's ability to be attentive to guest needs.
    </h4>
       
    </div>
    
    <div class="col-sm-6">
    <h2>Mission</h2>
        
   <h4 style="width:70%">Our mission at King William Hotel is to create a historic comfort feel while maintaining the highest quality stay for guests to relax and have a great stay.
       </h4>
   </div>
       
    </div>
    <br/>
    
    <div class="container text-center">
        <div class="row">
    <div class="col-sm-6">
        <%= image_tag("canada.jpg", :class => "img-responsive", :style => "width:100%", :alt => "image" ) %>
    </div>
    <div class="col-sm-6"> 
        <%= image_tag("map.jpg", :class => "img-responsive", :style => "width:100%", :alt => "image" ) %>
    </div>
  </div>
        
        
    <br/>
  

    
</center>        
