<center>

<div class= "center jumbotron" style="width:100%">
    <h3>Contact <br/>
        <b>Book Rooms - Ask Questions</b></h3>
  </div>  
</center>

<br/>

<div class="row">
       
   <div class="col-sm-6">
    <br/>
       <br/>
   <center>
       <h4>
        <b>Phone Number</b><br/>
        905-998-9895<br/>
        <br/>
        <b>Email</b><br/>
        KingWilliamHotel@gmail.ca<br/>
       <br/> 
        <b>Location</b><br/>
        8776 King Street
        <br/>Niagra, ON
        <br/>L1H 8A1
       
    </h4>
       
    </center>
       
    </div>
    
    <div class="col-sm-6">
     <%= image_tag("contact.jpg", :class => "img-responsive", :style => "width:100%", :alt => "image" ) %>
   </div>
       
    </div>


