<center>
<div class= "center jumbotron" style="width:100%">
    <h3>Features<br/>
        <b>Food - Wifi - Parking</b></h3>
  </div>  

<br/>
    



<div class="row">
    <div class="col-sm-6">
        <h2>Wifi Deals</h2>
        <h3>Packages for Wifi Needs</h3>
        <h4>Basic Package - $15<br/>
            Deluxe Pacakage - $20<br/>
            Premium Package - $35</h4>
    </div>
    <div class="col-sm-6">
        <%= image_tag("wifi.jpeg", :class => "img-responsive", :style => "width:100%", :alt => "image" ) %>
   </div>
</div>
    
<div class="row">
    <div class="col-sm-6">
        <%= image_tag("resturant.jpeg", :class => "img-responsive", :style => "width:100%", :alt => "image" ) %>
   </div>
     <div class="col-sm-6">
        <h2>Resturant</h2>
        <h3>Five Star Resturant</h3>
        <h4>Hours<br/>
            Monday-Saturday: 10am - 12am<br/>
            Sunday:          10am - 9pm</h4>
    </div>
</div>
    
<div class="row">
    <div class="col-sm-6">
        <h2>Free Parking</h2>
        <h3>Parking for Guests</h3>
        <h4>East Parking Lot<br/>
            West Parking Lot <br/>
            UnderGround Parking Lot<br/>
    </div>
    <div class="col-sm-6">
        <%= image_tag("parking.jpeg", :class => "img-responsive", :style => "width:100%", :alt => "image" ) %>
   </div>
</div>
    </center>