

<center>
<div class= "center jumbotron" style="width:100%">
    <h3>Rooms <br/>
        <b>Only the best quality</b></h3>
  </div>
     <h2>
     <%= link_to "Contact Us ", contact_path %>
      to start booking today!</h2>
</center>
<br/>

<div class="row">

<div class="col-sm-6">
<%= image_tag("singleroom.jpg", :class => "img-responsive", :style => "width:80%", :alt => "image" ) %>
</div>
<div class="col-sm-6">
<h3>Single Room</h3>
<h4>
<b>Price: </b> $95 <br/><br/>
<b>Bed: </b> One double bed<br/>
<b>Sleeps: </b> One to two people<br/>
<b>Bathroom: </b> One</h4>
</div>
</div>

<div class="row">
<div class="col-sm-6">
<%= image_tag("4personroom.jpg", :class => "img-responsive", :style => "width:80%", :alt => "image" ) %>
</div>
<div class="col-sm-6">
<h3>Double Room</h3>
<h4>
<b>Price: </b> $130 <br/><br/>    
<b>Bed: </b> Two double beds<br/>
<b>Sleeps: </b> Two to four people<br/>
<b>Bathroom: </b> One</h4>
</div>
</div>

<div class="row">
<div class="col-sm-6">
<%= image_tag("suiteroom.jpg", :class => "img-responsive", :style => "width:80%", :alt => "image" ) %>
</div>
<div class="col-sm-6">
<h3>Suite</h3>
<h4>
<b>Price: </b> $165 <br/><br/>
<b>Bed: </b> Two double beds and pull out couch<br/>
<b>Sleeps: </b> Two to six people<br/>
<b>Bathroom: </b> Two</h4>
</div>
</div>

    
    
